// @use "functions" as *;
// @use "mixins" as *;
@use 'variables' as global;

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  inline-size: 100%;
  block-size: 100%; // height: 100%;
  min-inline-size: 320px; // min-inline-size: global.$min-width + px;
}

body {
  overscroll-behavior: none;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  &.lock {
    touch-action: none;
    overflow: hidden;
  }
}

input,
button,
textarea {
  font-family: var(--ff-primary);
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

button {
  user-select: none;

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

input,
textarea {
  width: 100%;
}

label {
  display: inline-block;
}

button,
select,
option {
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
  }

  &:focus,
  &:active {
    outline: none;
  }

  &:visited {
    text-decoration: none;
  }
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

sup {
  color: inherit;
}
