@use 'functions' as *;

// --f-font-size: #{rem(16)}; #{rgba(#000, 10%) (если используем функции в css переменных, надо обернуть в #{} , иначе функции не будут работать)
:root {
  --font-family: 'Montserrat', sans-serif;
  --ff-primary: 'Montserrat', sans-serif;
  --ff-secondary: 'Montserrat', sans-serif;
  --f-font-size: #{rem(20)};
  --f-font-size-mobile: #{rem(16)};
  --f-font-weight: 400;
  --f-line-height: 1.6;

  --main-color: var(--c-grey);
  --second-color: var(--c-white);
  --gradient-color: linear-gradient(245deg, #237249 0%, #35c66b 100%);
  --accent-color: #35c66b;
  --hover-color: var(--accent-color);
  --hover-background: var(--accent-color);
  --c-scrollUp: var(--accent-color);

  --c-grey: #d9d9d9;
  --c-white: #ffffff;
  --c-dark: #121517;
  --c-lightgrey: #bbb3b3;
  --c-lightgrey-opasity: #{rgba(#bbb3b3, 43%)};
  --c-bg-body: #121517;

  --transition: 0.3s ease 0s;
  --b-radius: #{rem(10)};
}
