@use 'functions' as *;
@use 'mixins' as *;
@use 'variables' as global;
@use 'root' as *;

.sr-only {
  // visually-hidden
  overflow: hidden !important;
  display: block;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  white-space: nowrap !important;
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
}

body {
  font-family: var(--font-family), sans-serif;
  font-size: var(--f-font-size);
  font-weight: var(--f-font-weight);
  line-height: var(--f-line-height);
  letter-spacing: -0.02em;
  color: var(--main-color);
  background-color: var(--c-bg-body);

  @media (max-width: em(767.98)) {
    font-size: var(--f-font-size-mobile);
  }
}

.wrapper {
  // overflow: clip;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%; // min-block-size: 100%; Поменять на clip - если используется в проекте position: sticky
}

.page {
  flex: 1 1 auto;
}

[class*='__container'] {
  margin-inline: auto;
  max-inline-size: rem(global.$max-width-container);
  padding-inline: rem(global.$main-offset);
}

/* 
.video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
	video,
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
} */

.ibg {
  position: relative;

  img {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    object-fit: cover;
    block-size: 100%;
    inline-size: 100%;
  }

  &_contain {
    img {
      object-fit: contain;
    }
  }
}

.gradient-text {
  color: transparent;
  background: var(--gradient-color);
  background-clip: text; // можно использовать фото// обрезка фона, чтобы он соответствовал тексту// делаем текст прозрачным
}

p {
  &:not(:last-child) {
    margin-bottom: rem(10);
  }
}
