@use '../config/functions' as *;
@use '../config/mixins' as *;

.contacts {
  @include adaptive-clamp('padding-bottom', 80, 20);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(20);

    @media (max-width: em(660)) {
      flex-direction: column;
    }
  }

  &__content {
    max-width: rem(390);

    @media (max-width: em(660)) {
      max-width: 100%;
      text-align: center;
    }
  }

  &__header-block {
    &:not(:last-child) {
      @include adaptive-clamp('margin-bottom', 50, 36);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding-left: rem(70);
    font-size: rem(28);
    font-weight: 500;
    line-height: 1.3;
    color: var(--second-color);

    &:not(:last-child) {
      margin-bottom: rem(28);
    }
  }

  &__link--insta {
    width: rem(57);
    height: rem(57);
    background: url('../assets/img/fifthSection5/insta.svg') center center
      no-repeat;
  }

  &__link--phone {
    width: rem(57);
    height: rem(57);
    background: url('../assets/img/fifthSection5/phone.svg') center center
      no-repeat;
  }

  &__image {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      z-index: -10;
      right: rem(-145);
      bottom: rem(-260);
      width: rem(920);
      height: rem(670);
      background-image: url('../assets/img/hero/lines.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transform: rotate(25deg);
    }
  }

  &__img {
    width: rem(355);
  }
}
