@use '../helpers' as *;

.contacts {
  @include adaptive-clamp('padding-bottom', 80, 20);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(20);

    @media (max-width: em(660)) {
      flex-direction: column;
    }
  }

  &__content {
    max-width: rem(390);

    @media (max-width: em(660)) {
      max-width: 100%;
      text-align: center;
    }
  }

  &__header-block {
    position: relative;

    &:not(:last-child) {
      @include adaptive-clamp('margin-bottom', 60, 20);
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -5;
      top: 20px;
      left: 80px;
      width: 100px;
      height: 100px;
      background: linear-gradient(
        245deg,
        rgba(35, 114, 73, 0.55) 0%,
        rgba(53, 198, 107, 0.73) 51.85%
      );
      border-radius: 100%;
      filter: blur(50px);
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: rem(28);
  }

  &__image {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      z-index: -15;
      right: rem(-145);
      bottom: rem(-260);
      width: rem(920);
      height: rem(670);
      background-image: url('../assets/img/icons/lines.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transform: rotate(25deg);
    }
  }

  &__img {
    width: rem(355);
  }
}
