@use '../helpers' as *;

.hero {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(20);
    padding-top: rem(170);

    @include adaptive-clamp('margin-bottom', 110, 60);

    @media (max-width: em(660)) {
      flex-direction: column-reverse;
      padding-top: rem(70);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: rem(580);

    @include adaptive-clamp('gap', 54, 36);

    @media (max-width: em(660)) {
      align-items: center;
      text-align: center;
    }
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: rem(16);
  }

  &__button {
    @media (max-width: em(410)) {
      width: 100%;
    }
  }

  &__image {
    position: relative;
    width: 100%;
    max-width: rem(470);

    &::after {
      content: '';
      position: absolute;
      z-index: -5;
      right: 130px;
      bottom: 60px;
      width: 300px;
      height: 300px;
      background: linear-gradient(
        245deg,
        rgba(35, 114, 73, 0.55) 0%,
        rgba(53, 198, 107, 0.73) 51.85%
      );
      border-radius: 100%;
      filter: blur(170px);
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -10;
      right: -230px;
      bottom: -180px;
      width: 860px;
      height: 620px;
      background-image: url('./../assets/img/icons/lines.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      @media (max-width: em(740)) {
        right: -100px;
        bottom: -100px;
        width: 420px;
        height: 420px;
      }
    }
  }

  &__img {
    animation: move-cup 1.5s infinite alternate ease-in-out;
  }

  &__items {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: rem(10);
    max-width: rem(1030);
    margin: 0 auto;
    padding: rem(54) rem(15) rem(36);
    background: linear-gradient(
      230deg,
      #ffffff 3.94%,
      #e5e5e5 64.08%,
      #fbfbfb 88.62%
    );
    border-radius: rem(46);

    &::before {
      content: '';
      position: absolute;
      top: rem(-90);
      left: rem(-77);
      width: rem(178);
      height: rem(178);
      background: url('../assets/img/hero/label-we-have.svg') center / cover
        no-repeat;

      @media (max-width: em(1150)) {
        left: rem(-37);
      }
    }
  }
}

.counts-hero {
  display: flex;

  @include adaptive-clamp('column-gap', 48, 14);

  &__title {
    line-height: 1.1;
    letter-spacing: -0.03em;
    color: var(--second-color);

    @include adaptive-clamp('font-size', 62, 38);
  }
}

.item-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: rem(200);
  text-align: center;
  color: var(--color-dark);

  @media (max-width: em(470)) {
    max-width: 100%;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(150);
    height: rem(150);
    background: linear-gradient(245deg, #237249 0%, #35c66b 100%);
    border-radius: 100%;
    box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.39);
  }

  &__title {
    font-weight: 500;

    @include adaptive-clamp('font-size', 32, 20);

    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }

  &__text {
    color: rgba(18, 21, 23, 0.9);

    @include adaptive-clamp('font-size', 20, 16);
  }
}

@keyframes move-cup {
  0% {
    transform: none;
  }

  100% {
    transform: translateY(-26px);
  }
}
