@use '../helpers' as *;

.work {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: rem(20);

    @media (max-width: em(930)) {
      flex-direction: column-reverse;
    }
  }

  &__content {
    position: relative;
    max-width: rem(460);

    &::before {
      content: '';
      position: absolute;
      z-index: -10;
      right: rem(-145);
      bottom: rem(-298);
      width: rem(920);
      height: rem(670);
      background-image: url('./../assets/img/icons/lines.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transform: rotate(37deg);
    }

    @media (max-width: em(930)) {
      max-width: 100%;
      text-align: center;
    }
  }

  &__img {
    width: rem(465);

    @media (max-width: em(930)) {
      width: 100%;
    }
  }

  &__header-block {
    position: relative;

    &:not(:last-child) {
      @include adaptive-clamp('margin-bottom', 60, 20);
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -5;
      top: 30px;
      right: 60px;
      width: 140px;
      height: 140px;
      background: linear-gradient(
        245deg,
        rgba(35, 114, 73, 0.55) 0%,
        rgba(53, 198, 107, 0.73) 51.85%
      );
      border-radius: 100%;
      filter: blur(90px);
    }
  }

  &__video {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 447 / 275;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 17%);
  }

  &__video--img {
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 17%);
  }

  &__button {
    position: relative;
    z-index: 1;
  }
}
