@use '../config/functions' as *;
@use '../config/mixins' as *;

.products {
  &__header-block {
    @include adaptive-clamp('margin-bottom', 63, 20);
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: rem(20);

    @include adaptive-clamp('column-gap', 54, 20);

    @media (max-width: em(800)) {
      justify-content: center;
    }
  }
}

.card-product {
  max-width: rem(277);
  padding: rem(17) rem(32) rem(32);
  text-align: center;
  border: 1px solid var(--main-color);
  border-radius: rem(25);

  @media (max-width: em(450)) {
    max-width: 100%;
    padding: rem(10) rem(20) rem(20);
  }

  &__title {
    font-size: rem(32);
    font-weight: 500;
    color: var(--second-color);

    &:not(:last-child) {
      margin-bottom: rem(18);
    }
  }

  &__descr {
    font-size: rem(20);

    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &__data {
    display: flex;
    justify-content: space-between;
    align-items: end;

    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }

  &__price {
    font-size: rem(32);
    font-weight: 500;
    color: var(--second-color);
  }

  &__size {
    font-size: rem(20);
  }
}
