@use '../helpers' as *;

.products {
  &__header-block {
    @include adaptive-clamp('margin-bottom', 60, 20);
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: rem(20);

    @include adaptive-clamp('column-gap', 50, 20);

    @media (max-width: em(800)) {
      justify-content: center;
    }
  }
}
