@use 'reset';
@use 'normalize';
@use 'fonts/fonts';
@use 'variables';
@use 'utils';
@use 'globals';
@use 'helpers-classes';
@use '../components/keyframes/keyframes';
@use '../components/form/button';
@use '../components/hover/hover-link';
@use '../components/spollers/spollers';
@use '../components/scrollUpButton/scroll-up-button';
@use '../components/tooltip/tooltip-social';
@use 'blocks/card';
@use 'blocks/page';
@use 'blocks/common';
@use 'blocks/header';
@use 'blocks/footer';
@use 'blocks/hero';
@use 'blocks/second';
@use 'blocks/third';
@use 'blocks/fourth';
@use 'blocks/fifth';

// .header,
// main > *:not(:last-child),
// .footer {
//   display: none !important;
// }
