//@use "sass:math" as math;
@use './../config/root' as *;
@use './../config/functions' as *;
@use './../config/mixins' as *;

.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: rem(83);
	transition: var(--transition);
	background: var(--gradient-color);
	color: var(--second-color);

	&--max {
		padding: rem(20) rem(78);
		font-size: rem(24);
		font-weight: 600;
		@media (max-width: em(767.98)){
			font-size: rem(16); 
			padding: rem(16) rem(50);
		}
	}
	&--arrow {
		padding: rem(20) rem(43);
		@media (max-width: em(767.98)){
			padding: rem(16) rem(34);
		}
	}
	&--min {
		padding: rem(20) rem(54);
		@media (max-width: em(767.98)){
			padding: rem(16) rem(44);
		}
	}
	&--card {
		padding: rem(14) rem(38);
	}
	&--transparent {
		border: 1px solid var(--main-color);
		color: var(--main-color);
		background: transparent;
	}
}

